<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <groups>
        <run>
            <include name="category" />
        </run>
    </groups>
    <test name="Nopackage">
        <packages>
            <package name="category"></package>
            <package name="customer"></package>
            <package name="order"></package>
        </packages>
    </test>
</suite>